<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Employee Management</h2>
<form action="/nhanvien/add">
    <table>
        <tr>
            <th>maNV</th>
            <th>Name</th>
            <th>age</th>
            <th>salary</th>
            <th>branch</th>
        </tr>
        <% data.forEach((item)=>{ %>
            <tr>
                <td><%=item.maNV%></td>
                <td><%=item.name%></td>
                <td><%=item.age%></td>
                <td><%=item.salary%></td>
                <td><%=item.branch.name%></td>
                <td><a href="/nhanvien/delete?id=<%=item._id%>">delete</a></td>
                <td><a href="/nhanvien/update?id=<%=item._id%>">update</a></td>
            </tr>
        <% }) %>

    </table>

<button type="submit">Add New</button>
</form>
</body>
</html>